.card-back {
  width: 200px;
  height: 290px;
  text-align: center;
  border: 5px solid #356BBC;
  background-color: #F5F5F5;
  border-radius: 5%;
}

.card-back:hover {
  background-color: #ededed;
}

.card-front {
  width: 200px;
  height: 290px;
  border-radius: 5%;
  background-color: #F5F5F5;
  font-family: 'Fresca', sans-serif;
  border: 5px solid #FFCD00;
}

.card-front:hover {
  background-color: #ededed;
}