.pokecard {
  width: 200px;
  height: 290px;
  text-align: center;
  font-family: 'Fresca', sans-serif;
  border: 5px solid #356BBC;
  background-color: #F5F5F5;
  border-radius: 5%;
}

.pokecard:hover {
  background-color: #ededed;
}

/* utility classes */
.w-100 {
  width: 100%;
}